<!DOCTYPE html>
<html lang="en">
<head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Machine Learning Application</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://etiennepouget.com/static/css/bootstrap-theme.min.css" />
        <!-- Bootstrap theme -->
        <link rel="stylesheet" href="https://etiennepouget.com/static/css/bootstrap.min.css" />
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="https://etiennepouget.com/static/css/custom.css" />
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <link href="https://etiennepouget.com/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="My Blog Atom Feed" />

        <!--[if IE]>
            <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
</head>

<body id="index" class="home">

  <!-- Fixed navbar -->
  <div class="container">
    <nav id="banner" class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://etiennepouget.com/">My Blog </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
              <li><a href="https://etiennepouget.com/category/hikes.html">Hikes</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
            <ul class="dropdown-menu">
            </ul>
          </li>
<!-- /.pages -->

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header"><a href="https://name-generator.etiennepouget.com">Name Generator</a></li>
              <li class="dropdown-header"><a href="https://mlearning.etiennepouget.com">Machine Learning</a></li>
            </ul>
          </li>
<!-- /.links -->

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Social<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header"><a href="https://linkedin.com/in/étienne-pouget-7912295b">LinkedIn</a></li>
              <li class="dropdown-header"><a href="https://github.com/Vifespoir">Github</a></li>
              <li class="dropdown-header"><a href="https://twitter.com/EPouget">Twitter</a></li>
            </ul>
          </li>
<!-- /.social -->

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Feed<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header"><a href="https://etiennepouget.com/feeds/all.atom.xml" type="application/atom+xml" rel="alternate">atom feed</a></li>

            </ul>
          </li>
<!-- /.feed -->

        </ul>
      </div><!--/.nav-collapse -->
    </nav>
  </div>

  <div class="container">




      {% block content %}
      {% endblock %}

    <footer id="contentinfo" class="well">
      <address id="about" class="vcard body">
      Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>. Designed with <a href="http://jinja.pocoo.org/">Jinja2</a> and <a href="http://getbootstrap.com">Bootstrap</a>.
      </address><!-- /#about -->
    </footer><!-- /#contentinfo -->
  </div>

<script type="text/javascript">
    var disqus_shortname = 'etiennepouget';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://etiennepouget.com/static/js/bootstrap.min.js"></script>
{% block customjs %}
{% endblock %}
</body>
</html>
