{% extends "base.html" %}
{% block content %}
<div class=jumbotron>
  <h1>French Name Generator</h1>
  <div class=nav>
    <h2>This application generate names based on a given age range.</h2>
    <a class="btn btn-info center-block" href="{{ url_for('generate_names') }}" role="button">Generate names</a>
    {% if get_flashed_messages()[-1] %}
      <div class="alert alert-success" role="alert">{{ get_flashed_messages()[-1] }}</div>
    {% endif %}
    {% block body %}
    {% endblock %}
  </div>
</div>
{% endblock %}
