<!doctype html>
<head>
  <title>French Name Generator</title>
  <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='allison-style.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery-ui-slider.css') }}">

  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
</head>

<body>
  <div class=page>
    <h1>French Name Generator</h1>
    <div class=nav>
      <a id="showGeneratorLink" href="{{ url_for('show_names') }}">
        <h2>Generate names based on age range given.</h2>
      </a>
      {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}
    </div>
  </div>
</body>
