{% extends "home.html" %}
{% block body %}
<div class="well well-sm" style="max-width:700px">
  <h3>This application generates names based on a given age range.</h3>
  <a class="btn btn-block btn-info center-block" style="width:200px" href="{{ url_for('generate_names') }}" role="button">
    Generate names
  </a>
</div>
<div class="panel panel-default" style="max-width:700px">
{% for name in session['names'] %}
  {% if loop.first %}
  <table class="table table-striped">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    <tr>
      <td>{{ name[0] }}</td>
      <td>{{ name[1] }}</td>
    </tr>
  {% elif loop.last %}
    <tr>
      <td>{{ name[0] }}</td>
      <td>{{ name[1] }}</td>
    </tr>
  </table>
  {% else %}
    <tr>
      <td>{{ name[0] }}</td>
      <td>{{ name[1] }}</td>
    </tr>
  {% endif %}
</div>
{% endfor %}
{% endblock body %}
